/* -------PALETA DE COLORES------- */
/* 
#2a4647   verde
#501c1a   bordó
#3c2b42   violeta
#081413   negro
#e9e9ea   blanco
*/


* {
    margin: 0;
    padding: 0;
    font-family: ZonaPro-Regular;
}

@font-face {
    font-family: ZonaPro-Regular;
    src: url(../recursos/ZonaPro-Regular.ttf);
}

@font-face {
    font-family: ZonaPro-Bold;
    src: url(../recursos/ZonaPro-Bold.ttf);
}


/* ---------- HEADER----------*/

.deg-navbar {
    background-image: linear-gradient(#030303c7, #08141300);
}

.navbar-brand{
    margin: 0 10px;
}
.navbar-brand img {
    height: 40px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.enlace-pag {
    padding: 3px 5px;
    text-decoration: none;
    color: #e9e9ea;
}

.navbar {
    min-height: 10vh;
}

.marcador-actual {
    background-color: #501c1a;
    padding: 3px 5px;
    border-radius: 20px;
}

.pag-actual {
    font-family: ZonaPro-Bold;
}

.marcador {
    padding: 3px 5px;
    border-radius: 20px;
}

.navbar-nav {
    height: 65px;
    align-items: center;
    width: 550px;
    justify-content: space-between;
}

.marcador:hover {
    background-color: #501c1a7e;
    padding: 3px 5px;
    border-radius: 20px;
    font-family: ZonaPro-Bold;

}

.enlace-pag:hover {
    font-family: ZonaPro-Bold;
}

.marcador-actual:hover {
    box-shadow: inset 0px 0px 5px 2px #e9e9ea59;
    padding: 3px 5px;
}

.navbar-toggler-icon {
    background-image: url(../recursos/menu-hamb.png);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*----------MAIN----------*/

.banner-inicio {
    background-image: url(../recursos/fondo-principal.png);
    height: 100vh;
    background-size: cover;

}

.main-index {
    min-height: 85vh;
}

.titulo-principal {
    height: 650px;
    display: flex;
    text-align: center;
    color: #e9e9ea;
    font-size: 40px;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.nombre-negrita {
    font-family: ZonaPro-Bold;
    font-size: 85px;
}


.botones-index {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-sp {
    margin: 0 120px;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background-color: #2a4647;
    color: #e9e9ea;
    font-size: 20px;
    box-shadow: 5px 8px 20px 0px #00000082;
}

.btn-sp:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 5px 8px 20px 0px #000000b0, inset 0px 0px 11px 3px #e9e9ea17;
}

.texto-negrita {
    font-family: ZonaPro-Bold;

}

/* --------------------------------------------------- */

.fondo-sobrenosotros {
    background-image: url(../recursos/fondo-sobrenosotros.png);
    height: 100vh;
    background-size: cover;
}

.main-sobrenosotros {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.titulo-quienessomos {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 36px;
    margin: 200px 125px 5px 125px;
    border-left: 5px solid #e9e9ea;
    padding-left: 20px;
}

.texto-quienessomos {
    color: #e9e9ea;
    margin: 15px 100px 5px 125px;
    width: 450px;
    border-left: 1px solid #e9e9ea;
    padding-left: 20px;
}

/* --------------------------------------------------- */

.fondo-proyectos {
    background-image: url(../recursos/fondo-proyectos.png);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.main-proyectos {
    min-height: 85vh;
}

.main-proyectos h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 36px;
    width: 800px;
    margin: 170px auto 50px auto;
    border-bottom: 5px solid #e9e9ea;
}

.img-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "proyecto1 proyecto2"
        "proyecto3 proyecto4"
    ;
    width: 800px;
    height: 800px;
    grid-gap: 50px;
    margin: 20px auto;
}

.proyecto{
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.text-img{
    color: #e9e9ea;
    font-size: 20px;
    
}

.proyecto:hover{
    transform: scale(1.1);
    transition: 1.2s;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.178);
    
}

.proyecto1 {
    grid-area: proyecto1;
    background-image: url(../recursos/proyecto1.png);
}

.proyecto2 {
    grid-area: proyecto2;
    background-image: url(../recursos/proyecto2.png);
}

.proyecto3 {
    grid-area: proyecto3;
    background-image: url(../recursos/proyecto3.png);
}

.proyecto4 {
    grid-area: proyecto4;
    background-image: url(../recursos/proyecto4.png);
}


/* --------------------------------------------------- */

.main-servicios h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 40px;
    text-align: center;
}

.tipo-servicios {
    display: flex;
    justify-content: space-around;
    margin: 120px 100px;
    background-color: #3c2b42d8;
    padding: 50px;
    border-radius: 50px 0;
}

.tipo-servicios div img {
    height: 300px;
    border-radius: 10px;
}

.tipo-servicios div h3 {
    text-align: center;
    color: #e9e9ea;
}

.fondo-servicios {
    background-image: url(../recursos/fondo-servicios.png);
}

/* --------------------------------------------------- */

.main-contacto h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 40px;
    text-align: center;
    align-items: center;
}

.fondo-formulario {
    background-color: #501c1ada;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 460px 80px 460px;
    border-radius: 5px 50px;
}

.fondo-formulario p {
    color: #e9e9ea;
}

.fondo-formulario span {
    color: #e9e9ea;
}

.contacto-subtitulo {
    margin: 30px;
    font-size: 20px;
    text-align: center;
}

.contacto-subtitulo2 {
    margin: 20px;
    text-align: center;
}

.input-datoscontacto {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    width: 560px;
    margin: 0 100px;
}

.input-tiposervicio {
    display: flex;
    justify-content: space-evenly;
}

.input-tiposervicio span {
    font-size: 16px;
}

.fondo-contacto {
    background-image: url(../recursos/fondo-contacto.png);
}

.input-final {
    display: flex;
    flex-direction: column;
    margin: 5px 100px;
    height: 100px;
    justify-content: space-around;
    width: 560px;
}



/* ----------FOOTER---------- */

.footer-index {
    min-height: 5vh;
    display: flex;
    bottom:0px;
    width: auto;
    border-top: 2px solid #e9e9ea41;
}

.lista-redes {
    list-style: none;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 250px;
    height: 30px;
    padding: 0;
    align-items: flex-end;
}

.logos-footer {
    width: 30px;
    height: 30px;
}

/* ----------MEDIA QUERIS---------- */


@media (max-width: 991px) {

    /* index */

    .navbar-nav {
        height: 200px;
        width: 100vw;
        justify-content: space-around
    }

    .enlace-pag {
        font-size: 14px;
    }

    .navbar-brand img {
        height: 35px;
    }

    .navbar-toggler-icon {
        width: 25px;
    }

    .nombre-negrita {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 25px;
    }

    .logos-footer {
        width: 25px;
        height: 25px;
    }

    .botones-index {
        flex-direction: column;
        height: 115px;
        justify-content: space-between;
    }


    .btn-sp {
        margin: auto;
        padding: 14px 0px;
        font-size: 14px;
        width: 380px;
    }

    /* Sobre nosotros */

    .titulo-quienessomos {
        font-size: 30px;
        margin-top: 90px;
        margin-left: 60px;
    }

    .texto-quienessomos {
        font-size: 14px;
        width: 340px;
        margin-left: 60px;
        padding-right: 39px;
    }

    .fondo-sobrenosotros {
        background-position: 830px;
    }
}