/* -------PALETA DE COLORES------- */
/* 
#2a4647   verde
#501c1a   bordó
#3c2b42   violeta
#081413   negro
#e9e9ea   blanco
*/


* {
    margin: 0;
    padding: 0;
    font-family: ZonaPro-Regular;
}

@font-face {
    font-family: ZonaPro-Regular;
    src: url(../recursos/ZonaPro-Regular.ttf);
}

@font-face {
    font-family: ZonaPro-Bold;
    src: url(../recursos/ZonaPro-Bold.ttf);
}


/* ---------- HEADER----------*/

.deg-navbar {
    background-image: linear-gradient(#030303c7, #08141300);
}

.navbar-brand img {
    height: 55px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.enlace-pag {
    padding: 3px 5px;
    text-decoration: none;
    color: #e9e9ea;
}

.navbar {
    min-height: 9vh;
}

.marcador-actual {
    background-color: #501c1a;
    padding: 3px 5px;
    border-radius: 20px;
}

.pag-actual {
    font-family: ZonaPro-Bold;
}

.marcador {
    padding: 3px 5px;
    border-radius: 20px;
}

.navbar-nav {
    height: 65px;
    align-items: center;
    width: 550px;
    justify-content: space-between;
}

.marcador:hover {
    background-color: #501c1a7e;
    padding: 3px 5px;
    border-radius: 20px;
    font-family: ZonaPro-Bold;

}

.enlace-pag:hover {
    font-family: ZonaPro-Bold;
}

.marcador-actual:hover {
    box-shadow: inset 0px 0px 5px 2px #e9e9ea59;
    padding: 3px 5px;
}

.navbar-toggler-icon {
    background-image: url(../recursos/menu-hamb.png);
}

.navbar-toggler:focus{
    box-shadow: none;
}

/*----------MAIN----------*/

.banner-inicio {
    background-image: url(../recursos/fondo-principal.png);
    height: 100vh;
    background-size: cover;
    
}

.main-index{
    min-height: 71vh;
}

.titulo-principal {
    height: 350px;
    display: flex;
    text-align: center;
    color: #e9e9ea;
    font-size: 40px;
    flex-direction: column;
    margin: 250px 0 0 0;
}

.nombre-negrita {
    font-family: ZonaPro-Bold;
    font-size: 85px;
}


.botones-index {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-sp{
    margin: 0 120px;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background-color: #2a4647;
    color: #e9e9ea;
    font-size: 20px;
    box-shadow: 5px 8px 20px 0px #00000082;
}

.btn-sp:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 5px 8px 20px 0px #000000b0, inset 0px 0px 11px 3px #e9e9ea17;
}

.texto-negrita{
    font-family: ZonaPro-Bold;
    
}

/* --------------------------------------------------- */

.fondo-sobrenosotros {
    background-image: url(../recursos/fondo-sobrenosotros.png);
    height: 100vh;
    background-size: cover;
}

.main-sobrenosotros {
    min-height: 71vh;
    display: flex;
    flex-direction: column;align-items: flex-start;
    margin: auto;
}

.titulo-quienessomos {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 40px;
    margin: 200px 125px 5px 125px;
    border-left: 5px solid #e9e9ea;
    padding-left: 20px;
}

.texto-quienessomos {
    color: #e9e9ea;
    margin: 15px 100px 5px 125px;
    width: 450px;
    border-left: 1px solid #e9e9ea;
    padding-left: 20px;
}

/* --------------------------------------------------- */

.main-proyectos h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 40px;
    text-align: center;

}

.fondo-proyectos {
    background-color: #081413;
}

.img-proyectos {
    display: flex;
    justify-content: space-around;
    margin: 180px 100px;
}

.img-proyectos img {
    height: 300px;
    border-radius: 10px;
}

/* --------------------------------------------------- */

.main-servicios h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 40px;
    text-align: center;
}

.tipo-servicios {
    display: flex;
    justify-content: space-around;
    margin: 120px 100px;
    background-color: #3c2b42d8;
    padding: 50px;
    border-radius: 50px 0;
}

.tipo-servicios div img {
    height: 300px;
    border-radius: 10px;
}

.tipo-servicios div h3 {
    text-align: center;
    color: #e9e9ea;
}

.fondo-servicios {
    background-image: url(../recursos/fondo-servicios.png);
}

/* --------------------------------------------------- */

.main-contacto h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 40px;
    text-align: center;
    align-items: center;
}

.fondo-formulario {
    background-color: #501c1ada;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 460px 80px 460px;
    border-radius: 5px 50px;
}

.fondo-formulario p {
    color: #e9e9ea;
}

.fondo-formulario span {
    color: #e9e9ea;
}

.contacto-subtitulo {
    margin: 30px;
    font-size: 20px;
    text-align: center;
}

.contacto-subtitulo2 {
    margin: 20px;
    text-align: center;
}

.input-datoscontacto {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    width: 560px;
    margin: 0 100px;
}

.input-tiposervicio {
    display: flex;
    justify-content: space-evenly;
}

.input-tiposervicio span {
    font-size: 16px;
}

.fondo-contacto {
    background-image: url(../recursos/fondo-contacto.png);
}

.input-final {
    display: flex;
    flex-direction: column;
    margin: 5px 100px;
    height: 100px;
    justify-content: space-around;
    width: 560px;
}



/* ----------FOOTER---------- */

.footer-index{
    min-height: 15vh;
    display: flex;
}

.lista-redes {
    list-style: none;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 250px;
    height: 150px;
    padding: 0;
    align-items: flex-end;
}

.logos-footer {
    width: 30px;
    height: 30px;
}

/* ----------MEDIA QUERIS---------- */


@media (max-width: 991px) {

    /* index */

    .navbar-nav {
        height: 200px;
        width: 100vw;
        justify-content: space-around
    }
    
    .enlace-pag{
        font-size: 14px;
    }

    .navbar-brand img {
        height: 35px;
    }

    .navbar-toggler-icon {
        width: 25px;
    }

    .nombre-negrita{
        font-size: 40px;
    }

    .subtitulo{
        font-size: 25px;
    }
    
    .logos-footer {
        width: 25px;
        height: 25px;
    }
    
    .botones-index{
        flex-direction: column;
        height: 115px;
        justify-content: space-between;
    }

    .titulo-principal{
        height: 170px;
    }

    .btn-sp{
        margin: auto;
        padding: 14px 0px;
        font-size: 14px;
        width: 540px;
    }

    /* Sobre nosotros */

    .titulo-quienessomos{
        font-size: 30px;
        margin-top: 90px;
        margin-left: 60px;
    }

    .texto-quienessomos{
        font-size: 14px;
        width: 340px;
        margin-left: 60px;
    }
    .fondo-sobrenosotros{
        background-position: 830px;
    }
}