/* -------PALETA DE COLORES------- */
/* 
#2a4647   verde
#501c1a   bordó
#3c2b42   violeta
#081413   negro
#e9e9ea   blanco
*/


* {
    margin: 0;
    padding: 0;
    font-family: ZonaPro-Regular;
}

@font-face {
    font-family: ZonaPro-Regular;
    src: url(../recursos/ZonaPro-Regular.ttf);
}

@font-face {
    font-family: ZonaPro-Bold;
    src: url(../recursos/ZonaPro-Bold.ttf);
}


/* ---------- HEADER----------*/

.deg-navbar {
    background-image: linear-gradient(#030303c7, #08141300);
}



.navbar-brand{
    margin: 10px 0 10px 0px;
}
.navbar-brand img {
    height: 40px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.enlace-pag {
    padding: 3px 5px;
    text-decoration: none;
    color: #e9e9ea;
}

.navbar {
    min-height: 10vh;
}

.marcador-actual {
    background-color: #501c1a;
    padding: 3px 5px;
    border-radius: 20px;
}

.marcador {
    padding: 3px 5px;
    border-radius: 20px;
}

.navbar-nav {
    height: 65px;
    align-items: center;
    width: 550px;
    justify-content: space-between;
}

.marcador:hover {
    background-color: #501c1a7e;
    padding: 3px 5px;
    border-radius: 20px;
    font-family: ZonaPro-Bold;

}

.enlace-pag:hover {
    font-family: ZonaPro-Bold;
}

.marcador-actual:hover {
    padding: 3px 5px;
}

.navbar-toggler-icon {
    background-image: url(../recursos/menu-hamb.png);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*----------MAIN----------*/

.banner-inicio {
    background-image: url(../recursos/fondo-principal.png);
    height: 100vh;
    background-size: cover;

}

.main-index {
    min-height: 85vh;
}

.titulo-principal {
    height: 650px;
    display: flex;
    text-align: center;
    color: #e9e9ea;
    font-size: 40px;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.nombre-negrita {
    font-family: ZonaPro-Bold;
    font-size: 85px;
}


.botones-index {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-sp {
    margin: 0 120px;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background-color: #2a4647;
    color: #e9e9ea;
    font-size: 20px;
    box-shadow: 5px 8px 20px 0px #00000082;
}

.btn-sp:hover {
    transform: scale(1.05);
    transition: 1s;
    border: 1px solid #e9e9ea98;
}

.texto-negrita {
    font-family: ZonaPro-Bold;

}

/* --------------------------------------------------- */

.fondo-sobrenosotros {
    background-image: url(../recursos/fondo-sobrenosotros.png);
    height: 100vh;
    background-size: cover;
}

.main-sobrenosotros {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.titulo-quienessomos {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 36px;
    margin: 200px 125px 5px 125px;
    border-left: 5px solid #e9e9ea;
    padding-left: 20px;
}

.texto-quienessomos {
    color: #e9e9ea;
    margin: 15px 100px 5px 125px;
    width: 450px;
    border-left: 1px solid #e9e9ea;
    padding-left: 20px;
}

/* --------------------------------------------------- */

.fondo-proyectos {
    background-image: url(../recursos/fondo-proyectos.png);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.main-proyectos {
    min-height: 85vh;
}

.main-proyectos h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 36px;
    width: 800px;
    margin: 80px auto 50px auto;
    border-left: 5px solid #e9e9ea;
    padding-left: 20px;
}

.img-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "proyecto1 proyecto2"
        "proyecto3 proyecto4"
    ;
    width: 800px;
    height: 800px;
    grid-gap: 50px;
    margin: 20px auto;
}

.proyecto{
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.text-img{
    color: #e9e9ea;
    font-size: 20px;
    
}

.proyecto:hover{
    transform: scale(1.1);
    transition: 1.2s;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.178);
    
}

.proyecto1 {
    grid-area: proyecto1;
    background-image: url(../recursos/proyecto1.png);
}

.proyecto2 {
    grid-area: proyecto2;
    background-image: url(../recursos/proyecto2.png);
}

.proyecto3 {
    grid-area: proyecto3;
    background-image: url(../recursos/proyecto3.png);
}

.proyecto4 {
    grid-area: proyecto4;
    background-image: url(../recursos/proyecto4.png);
}


/* --------------------------------------------------- */

.fondo-servicios {
    background-image: url(../recursos/fondo-servicios.png);
    min-height: 100vh;
}

.main-servicios{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main-servicios h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 36px;
    margin: 0 50px;
    padding-left: 20px;
    width: 598px;
    border-left: 5px solid #e9e9ea;
}

.ancho-ac{
    width: 600px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-around;
}

.btn-servicio{ 
    height: 100px;
    width: 598px;
    background-color: #3c2b42;
    border: none;
    border-radius: 5px;
}

.img-serv{
    display: flex;
    color: #e9e9ea;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    width: 330px;
}

.img-serv img{
    width: 80px;
    height: 80px;
}

.btn-servicio p{
    margin: 0;
    width: 145px;
    text-align: left;
}

.texto-servicio{
    color: #e9e9ea9c;
    border-top: 1px solid #e9e9ea41;
}
    
.accordion-item{
    background-color: #3c2b42;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 2px #0814133d;
}

.accordion-item:hover{
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 5px 5px 8px 2px #08141377;
    border: 1px solid #e9e9ea98;
}


#servicio1{
    margin: 0; 
    height: 100px;
}



/* --------------------------------------------------- */

.fondo-contacto {
    background-image: url(../recursos/fondo-contacto.png);
    min-height: 100vh;
}
.main-contacto{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}
.main-contacto h1 {
    font-family: ZonaPro-Bold;
    color: #e9e9ea;
    font-size: 24px;
    width: 600px;
    margin: auto;
    border-left: 5px solid #e9e9ea;
    padding-left: 20px;
}

.form-general {
    display: flex;
    height: 650px;
    flex-direction: column;
    width: 600px;
    margin: auto;
    justify-content: space-around;
}

.input-completar {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}

.fondo-input {
    background-color: #e9e9ea33;
    border: none;
    border-radius: 5px;
}

.form-control:focus {
    background-color: #e9e9eaa6;
    border: 2px solid #3c2b42;
    outline: 0;
    box-shadow: 4px 4px 10px 1px #0814133d;
}

.texto-input{
    color: #e9e9ea;
}


.check-servicios {
    display: flex;
    justify-content: space-between;
    
}

.check-serv{
    display: flex;
    background-color: #e9e9ea33;
    border-radius: 5px;
    flex-direction: column;
    
}

.label-serv{
    text-align: center;
    margin: auto;
    width: 120px;
    
}

.inp-serv{
    width: 15px;
    height: 15px;
    margin: 4px 0 0 4px;
    border: none;
    border-radius: 5px;
    accent-color: #501c1a;
}


.label-serv p{
    color: #e9e9ea;
    margin: auto;
    font-size: 14px;
}



.label-serv img{
    width: 60px;
    height: 60px;
} 

.sub-form {
    font-size: 16px;
    color: #e9e9ea;
    margin-bottom: 8px;
}

.sel-arch {
    background-color: #e9e9ea33;
    border: none;
}

.tx-area{
    background-color: #e9e9ea33;
    border-radius: 5px;
    border: none;
}

.btn-submit{
    background-color: #501c1a;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #e9e9ea;
    box-shadow: 1px 2px 6px 1px #08141377;
    
}

.btn-submit:hover{
    transform: scale(1.02);
    border: 1px solid #e9e9ea98;
    transition: 1s;
}



/* ----------FOOTER---------- */

.footer-index {
    min-height: 5vh;
    display: flex;
    bottom:0px;
    width: auto;
    border-top: 2px solid #e9e9ea41;
}

.lista-redes {
    list-style: none;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 250px;
    height: 30px;
    padding: 0;
    align-items: flex-end;
}

.logos-footer {
    width: 30px;
    height: 30px;
}

/* ----------MEDIA QUERIS---------- */


@media (max-width: 991px) {

    /* index */

    .deg-navbar{
        margin: auto;
    }

    .navbar-nav {
        height: 200px;
        width: 100vw;
        justify-content: space-around;
        
    }

    .enlace-pag {
        font-size: 14px;
    }

    .navbar-brand img {
        height: 35px;
    }

    .navbar-toggler-icon {
        width: 25px;
    }

    .nombre-negrita {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 25px;
    }

    .logos-footer {
        width: 25px;
        height: 25px;
    }

    .botones-index {
        flex-direction: column;
        height: 115px;
        justify-content: space-between;
    }


    .btn-sp {
        margin: auto;
        padding: 14px 0px;
        font-size: 14px;
        width: 380px;
    }

    /* Sobre nosotros */

    .titulo-quienessomos {
        font-size: 30px;
        margin-top: 90px;
        margin-left: 60px;
    }

    .texto-quienessomos {
        font-size: 14px;
        width: 340px;
        margin-left: 60px;
        padding-right: 39px;
    }

    .fondo-sobrenosotros {
        background-position: 830px;
    }
}